<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>A single car</title>
</head>
<body>
  <h1>A single car</h1>
  <%= car.id %>
  <p><%= car.make %> <%= car.model %></p>
  <p>Color: <%= car.color %></p>
  <p>Year <%= car.year %></p>
  <hr />
  <h3>Update color of car:</h3>

  <form method="post" action="/cars/<%= car.id %>">
    <label>Color</label>
    <input type="text" name="color" />
    <br />

    <label>Make</label>
    <input type="text" name="make" />
    <br />

    <button type="submit">Update</button>
  </form>

</body>
</html>