<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>All cars!!!</title>
</head>

<body>
  <div>All my cars!!</div>
  <% for(const carId in cars) { %>
    <div>
      <p>
        <%= cars[carId].make %>
      </p>
      <p>
        <%= cars[carId].model %>
      </p>
      <p>
        <%= cars[carId].year %>
      </p>
      <p>
        <%= cars[carId].color %>
      </p>
      <a href="/cars/<%= carId %>">See Details</a>
      <form action="/cars/<%= carId %>/delete" method="POST">
        <button type="submit">Delete</button>
      </form>
    </div>
    <% } %>

      <h2>Add a new car</h2>

      <form action="/cars" method="POST">
        <label>Color</label>
        <input name="color" type="text" />
        <br />

        <label>Make</label>
        <input name="make" type="text" />
        <br />

        <label>Model</label>
        <input name="model" type="textarea" />
        <br />

        <label>Year</label>
        <input name="year" type="text" />
        <br />

        <button type="submit">Create</button>
      </form>
</body>

</html>